# Игнорируем переменные окружения
.env

# Игнорируем виртуальное окружение (если используете)
venv/
env/

# Игнорируем файлы Python-кэша
__pycache__/
*.pyc
*.pyo

# Игнорируем временные файлы редакторов
*.swp
*.swo
*.bak

# Игнорируем логи
*.log
